
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Courses | Education</title>
    <meta name="description" content="">
    <meta content="<%-csrfToken%>" name="csrf-token">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/slicknav.css">
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <link rel="stylesheet" href="/assets/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="/assets/css/gijgo.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/animated-headline.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/nice-select.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/chatBox.css">
    <link rel="stylesheet" href="/assets/css/loader.css">

</head>

<body>
<%- include('modal')%>

  <div class="avatar-container row" >
    <audio id="audioPlay" src="/assets/audio/ElevenLabsNew.wav"></audio>
    <div class="col-md-4" style="overflow:hidden;height:100%; display: flex;  flex-direction: column;padding: 0px;">
        <div class="threeContainer" id="threeContainer" >
        </div>
        <div  style="overflow:hidden;background: black;height: 100%; ">
         <video id="videoStreaming"  autoplay playsinline muted controls="false"/></video>
        </div>
    </div>
    
    <div class="col-md-8 whatsapp-container">
        <div class="whatsapp-chat-container">
          <div class="chat-messages">
             
              <!-- Sent Message -->
          </div>

          <div class="chat-input">

              <button class="btn btn-sm btn-success buttonload" data-bs-toggle="tooltip" data-bs-placement="top" id="generateQts" title="Click here for Start"> <i class="fa fa-spinner fa-spin"></i>Loading</button>
               <textarea type="text" placeholder="Type a message" id="userAnswerInput"> </textarea>
               <label id="SubmitAnswerButton"  class="displayNone" onclick="onUserSumbmitAnswer()"> <i class="fa fa-paper-plane" aria-hidden="true"></i> </label>
              <input type="hidden" id="question_id" >
              <input type="hidden" id="user_answer" >
              <input type="hidden" id="user_id" value="<%-user.id %>">
              <input type="hidden" id="level_id" value="">
              <input type="hidden" id="topic" value="">
              <input type="hidden" id="skill_id_of_user" value="">
              <input type="hidden" id="user_name" value="<%-user.NAME %>">
              <input type="hidden" id="user_email" value="<%-user.EMAIL %>">
              <input type="hidden" id="session_id" value="">
              <button class="send-button displayNone" id="startBtn" data-bs-toggle="tooltip" data-bs-placement="top" title="Click to Speak in Mic"><i id="mic" class="mic-icon fas fa-microphone"></i></button>
          </div>
        </div>
    </div>
  </div>
  
<script src="/assets/js/gsap.min.js"></script>
<script src="https://www.WebRTC-Experiment.com/RecordRTC.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">var socket = io();</script>
<script type="module"   src="/assets/utils/main.js"></script>
<script src="/assets/utils/speechConvert.js"></script>
<script src="/assets/utils/speechtoText.js"></script>
<script src="/assets/utils/videoRecorder.js"></script>
<script type="text/javascript"> 
     window.onload=()=>{
            let name ="<%-user.NAME %>"
            let email ="<%-user.EMAIL %>"
            let user_id ="<%-user.id %>";
            // getQuestion(skill,level_id,email,user_id);
           
            fetchSubscriptionKeyAndBaseUrl();
            openModalForLogin();
            updateTitle();
    };

   

</script>
<script>
      const modal = document.querySelector(".modal");
      const modalButton = document.querySelector(".modal-button");
      const closeButton = document.querySelector(".close-button");
      const scrollDown = document.querySelector(".scroll-down");
      let isOpened = false;
      const openModalForLogin = () => {
        modal.classList.add("is-open");
      };

      const openModalForAlert = () => {
        modal.classList.add("is-open");
      };

      const closeModal = () => {
        modal.classList.remove("is-open");
      };

      // modalButton.addEventListener("click", openModalForLogin);
      // closeButton.addEventListener("click", closeModal);

      document.onkeydown = evt => {
        evt = evt || window.event;
        evt.keyCode === 27 ? closeModal() : false;
      };
</script>

<!-- JS here -->
<script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="/assets/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/slick.min.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="/assets/js/wow.min.js"></script>
<script src="/assets/js/animated.headline.js"></script>
<script src="/assets/js/jquery.magnific-popup.js"></script>

<!-- Date Picker -->
<script src="/assets/js/gijgo.min.js"></script>
<!-- Nice-select, sticky -->
<script src="/assets/js/jquery.nice-select.min.js"></script>
<script src="/assets/js/jquery.sticky.js"></script>
<!-- Progress -->
<script src="/assets/js/jquery.barfiller.js"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="/assets/js/jquery.counterup.min.js"></script>
<script src="/assets/js/waypoints.min.js"></script>
<script src="/assets/js/jquery.countdown.min.js"></script>
<script src="/assets/js/hover-direction-snake.min.js"></script>

<!-- contact js -->
<script src="/assets/js/contact.js"></script>
<script src="/assets/js/jquery.form.js"></script>
<script src="/assets/js/jquery.validate.min.js"></script>
<script src="/assets/js/mail-script.js"></script>
<script src="/assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/utils/inputRequired.js"></script>
<script src="/assets/utils/submitForm.js"></script>
<script src="/admin/assets/js/plugin/sweetalert/sweetalert.min.js"></script>

<script>

    function messagePop(message, icon = "success") {
        // console.log(message);
        swal.fire({
            position: 'middle',
            icon: icon,
            title: message,
            showConfirmButton: true,
            timer: 60000
        });
    }
    $(document).ready(function () {
        $("#myBtn").click(function () {
            $("#myModal").modal();
        });
    });
    const openModal = (id, user_id = undefined, attr_id = undefined) => {
        if (user_id) {
            $('#' + attr_id).val(user_id);
        }
        $('#' + id).modal();
    }





</script>

</body>

</html>