<%- include('../includes/header')%>
<%- include('modal')%>

  <div class="avatar-container row" >
    <audio id="audioPlay" src="/assets/audio/ElevenLabsNew.wav"></audio>
    <div class="col-md-4" style="overflow:hidden;height: 89vh; display: flex;  flex-direction: column;padding: 0px;">
        <div class="threeContainer" id="threeContainer" >
        </div>
        <div  style="overflow:hidden;background: black;height: 45%; ">
         <video id="videoStreaming"  autoplay playsinline muted controls="false"/></video>
        </div>
    </div>
    
    <div class="col-md-8 whatsapp-container">
        <div class="whatsapp-chat-container">
          <div class="chat-messages">
             
              <!-- Sent Message -->
          </div>

          <div class="chat-input">

              <button class="btn btn-sm btn-success buttonload" id="generateQts"> <i class="fa fa-spinner fa-spin"></i>Loading</button>
               <textarea type="text" placeholder="Type a message" id="userAnswerInput"> </textarea>
               <label id="SubmitAnswerButton" onclick="onUserSumbmitAnswer()"> <i class="fa fa-paper-plane" aria-hidden="true"></i> </label>
              <input type="hidden" id="question_id" >
              <input type="hidden" id="user_answer" >
              <input type="hidden" id="user_id" value="<%-user.id %>">
              <input type="hidden" id="level_id" value="<%-level_id %>">
              <input type="hidden" id="topic" value="<%-skill.category %>">
              <input type="hidden" id="skill_id_of_user" value="<%-level_id %>">
              <input type="hidden" id="user_name" value="<%-user.NAME %>">
              <input type="hidden" id="user_email" value="<%-user.EMAIL %>">
              <button class="send-button displayNone" id="startBtn" title="Speak in Mic"><i id="mic" class="mic-icon fas fa-microphone"></i></button>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
     <div class="col-md-12">
      </div>
  </div>
   
<script src="/assets/js/gsap.min.js"></script>
<script src="https://www.WebRTC-Experiment.com/RecordRTC.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">var socket = io();</script>
<script type="module"   src="/assets/utils/main.js"></script>
<script src="/assets/utils/speechConvert.js"></script>
<script src="/assets/utils/speechtoText.js"></script>
<script src="/assets/utils/videoRecorder.js"></script>
<script type="text/javascript"> 
     window.onload=()=>{
            let name ="<%-user.NAME %>"
            let email ="<%-user.EMAIL %>"
            let user_id ="<%-user.id %>";
            let level_id="<%-level_id %>";
            let skill="<%-skill.category %>";
            getQuestion(skill,level_id,email,user_id);
            openModalForLogin();
    };

</script>

<script>
      const modal = document.querySelector(".modal");
      const modalButton = document.querySelector(".modal-button");
      const closeButton = document.querySelector(".close-button");
      const scrollDown = document.querySelector(".scroll-down");
      let isOpened = false;
      const openModalForLogin = () => {
        modal.classList.add("is-open");
      };

      const openModalForAlert = () => {
        modal.classList.add("is-open");
      };

      const closeModal = () => {
        modal.classList.remove("is-open");
      };

      // modalButton.addEventListener("click", openModalForLogin);
      // closeButton.addEventListener("click", closeModal);

      document.onkeydown = evt => {
        evt = evt || window.event;
        evt.keyCode === 27 ? closeModal() : false;
      };
</script>
<%- include('../includes/footer') %>